footer{
  height: 70px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p{
    margin-bottom: 8px;
  }
  div{
     a{

      color: #4f4e56;
      transition-duration: .5;
      font-size: 16px;
      margin-left: 10px;
      margin-bottom: 8px;
      text-decoration: none;
      &:visited{
        color: #4f4e56;
      }
      &:hover{
        color: #7BA4AB;
      }
    }
  }
}
@media only screen and (max-width: 560px) {
  footer{
      justify-content: space-around;
  }
}
